@use "sass:color";
// @use '@material/theme/color-palette';

$accent: #ff6bf9;

$darkColor: #1c2524;
$darkerColor: #111111;
$mainColor: #2f4541;
$lightTextColor: #ebeee7;
$lightAccent: #749d85;
$darkAccent: #707e82;
$sampleFont: 1.6em "Lexend", sans-serif;
$progressColor: linear-gradient(to left, #ff6bf9, #ff7a9a);
$lighterColor: #9dafad;
$onSurface: #ebeee7;

// Svelte Colors!
// @use '@material/theme/index' as theme with (
//   $primary: $accent,
//   $secondary: $lighterColor,
//   $surface: $lighterColor,
//   $background: #fff,
//   $error: color-palette.$red-900,
//   $on-surface: $onSurface
// );
